PORT = 3000

# JWT Config
JWT_SECRET = "VSocial"
JWT_EXPIRATION_TIME = '30d'
SALT_ROUNDS = 10

# Database Config
DB_TYPE = "mysql"
DB_HOST = "localhost"
DB_PORT = 3306
DB_USERNAME = "root"
DB_PASSWORD = ""
DB_DATABASE = "vsocial"
DB_SYNCHRONIZE = true
DB_LOGGING = false

# X API Key
X_API_KEY = "ApiKet"
X_API_SECRET = "ApiSecret"
X_BARER_TOKEN = "ApiToken"
X_CLIENT_ID = "ClientID"
X_CLIENT_SECRET = "ClientSecret"